<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tambah Data Orang</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="form-box">
  <form action="/add" method="POST">
    <label for="name">Nama</label>
    <input type="text" id="name" name="name" placeholder="Masukkan nama.." required>

    <label for="height">Tinggi (cm)</label>
    <input type="text" id="height" name="height" placeholder="Masukkan tinggi badan.." required>

    <label for="weight">Berat (kg)</label>
    <input type="text" id="weight" name="weight" placeholder="Masukkan berat badan.." required>

    <label for="birthdate">Tanggal Lahir</label>
    <input type="date" id="birthdate" name="birthdate" required>

    <label for="married">Status</label>
    <select id="married" name="married">
      <option value="false">Belum Menikah</option>
      <option value="true">Menikah</option>
    </select>

    <input type="submit" value="Save">
  </form>

  <a href="/" class="cancel-btn">Cancel</a>
</div>

</body>
</html>
