/* ===== Global Style ===== */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #EFF8FF; /* background halaman */
}

h1 {
  text-align: left;
  margin-bottom: 20px;
}

/* ===== Tombol Create ===== */
.btn {
  display: block;
  width: 100%;
  background-color: #3f00ff;
  color: white;
  text-align: center;
  padding: 12px 0;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 20px;
}
.btn:hover {
  background-color: #2c00b8;
}

/* ===== Fancy Table ===== */
table {
  font-family: Arial, Helvetica, sans-serif;
  border-color: #eff8ff;
  width: 100%;
  margin-top: 15px;
  border-radius: 4px;
  box-shadow: 0 0 3px rgb(199, 193, 193);
}

td, th {
  border: 1px;
  border-collapse: collapse;
  padding: 15px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;   /* biar rapi tengah */
  background-color: #eff8ff; /* hijau */
  color: black;
}

/* Link Update Delete */
td a {
  color: #3f00ff;
  text-decoration: none;
  margin: 0 5px;
}
td a:hover {
  text-decoration: underline;
}

/* ===== Form Box (untuk add.ejs & edit.ejs) ===== */
.form-box {
  max-width: 100%;
  margin: auto;
}

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 2px;
  font-weight: bold;
}

input[type=text], input[type=date], select {
  width: 100%;
  padding: 12px 20px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  transition: 0.3s;
  font-size: 14px;
}

input[type=text]:focus, 
input[type=date]:focus,
select:focus {
  border-color: #1338CE;
  box-shadow: 0 0 5px rgba(33, 150, 243, 0.6);
  outline: none;
}

/* ===== Tombol Save & Cancel ===== */
input[type=submit], .cancel-btn {
  width: 100%;
  padding: 14px 0px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  color: white;
}

input[type=submit] {
  background-color: #04A96D;
}
input[type=submit]:hover {
  background-color: #1ED391;
}

.cancel-btn {
  background-color: #390DEA;
  text-align: center;
  display: block;
  text-decoration: none;
  margin: auto;
}
.cancel-btn:hover {
  background-color: #522BEF;
}

/* ===== Responsif di HP ===== */
@media (max-width: 100%) {
  .form-box {
    margin: 20px;
    padding: 20px;
  }
}
